html, body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  user-select: none;
  overflow-x: hidden;
  background-color: black;
}

.BGCon {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.BG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.allCon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
}

.title {
  font-size: 65px;
  pointer-events: none;
}

.desc {
  font-size: 25px;
  width: 65%;
  text-align: center;
  margin-top: -35px;
  pointer-events: none;
}

.btn {
  width: 185px;
  height: 50px;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 2px 30px rgb(62, 145, 24);
  outline: none;
  font-size: 25px;
  transition: all 0.3s ease;
  z-index: 2;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #378a10;
}

.btn:hover {
  cursor: pointer;
  background-color: #378a10;
  color: rgb(255, 255, 255);
  transform: translateY(-6px);
}

.faqCon {
  position: absolute;
  top: 7.5%;
  left: 96%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  color: white;
}

.faq {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: #378a10;
  color: white;
  font-size: 25px;
  border: none;
  transition: all 0.3s ease;
}

.faq:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modCon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: auto;
  display: none;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 10;
}

.mod {
  height: 75vh;
  width: min(650px, 85vw);;
  background-color: #000000;
  border-radius: 12px;
  border: 4px solid rgb(37, 124, 20);
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  padding-bottom: 25px;
  box-shadow: 0px 2px 15px rgba(0, 255, 0, 0.7);
}

.faqTitle {
  font-size: 27px;
  margin-left: 25px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.close {
  margin-right: 25px;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.close:hover {
  opacity: 0.6;
}

.q {
  width: 100%;
  font-size: 20px;
  text-align: left;
  padding: 25px 50px;
  background-color: transparent;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.q::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  height: 2px;
  background-color: rgb(138, 138, 138);
  transition: all 0.3s ease;
}

.q-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  width: 100%;
  transition: all 0.3s ease;
}

.hiddenDesc {
  font-size: 17px;
  opacity: 0.8;
  display: none;
  padding-top: 25px;
  text-align: center;
  transition: all 0.3s ease;
}

.arrow {
  transition: all 0.3s ease;
}

.q.open .hiddenDesc {
  display: block;
}

.q.open .arrow {
  transform: rotate(-180deg);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  display: none;
  pointer-events: auto;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 10;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
}

.nvb {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 1;
  pointer-events: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
  color: white;
}

.nav-item {
  font-size: 40px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 4px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}

.nav-item:hover::after {
  transform: scaleX(1);
}

.nav-item.chosen::after {
  transform: scaleX(1);
}

.chsh {
  color: #378a10;
  font-weight: bolder;
  transition: all 0.3s ease;
}

.chsh:hover {
  opacity: 0.6;
}

.loginCon {
  position: absolute;
  top: 7.5%;
  left: 3.5%;
  transform: translate(0%, -50%);
  z-index: 1;
  display: flex;
  color: white;
}

.login {
  height: 52.5px;
  width: 135px;
  font-size: 20px;
  border-radius: 12px;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}

.login:hover {
  background-color: #378a10;
  color: white;
  cursor: pointer;
  transform: translateY(-6px);
}

.shopCon {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  justify-items: center;
}

.grid-item {
  height: 375px;
  width: 325px;
  background-color: rebeccapurple;
  border-radius: 12px;
}

.test {
  color: white;
}

@media (max-width: 800px) {
  .faqCon {
    left: 90%;
    top: 6%;
  }

  .loginCon {
    top: 6%
  }
  
  .desc {
    width: 95%;
  }
}